{% extends "rtl/shared/base/_layout.html" %}
{% load static render_partial get_obj_with_index %}

{% block title %}
{{ site_name }} | ورود به سایت
{% endblock title %}

{% block meta %}
    <link rel="canonical" href="{{ request.path }}"/>
    <meta name="keywords" content="اخبار, خبر, ریسک نیوز, فرهنگی, ورزشی, اقتصادی">
    <meta name="description" content="آخرین اخبار اقتصادی را می توانید به سادگی با ما دریافت کنید">
    <meta name="author" content="پارس کیان">
    <meta name="robots" content="index, follow">
    <link rel="alternate" href="/" hreflang="fa"/>
    <meta name="language" content="fa"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock meta %}

{% block main %}

    <!-- Start Page Banner -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content mt-5">
                <h2>ورود کاربران</h2>
                <ul>
                    <li><a href="/">صفحه اصلی</a></li>
                    <li>ورود کاربران</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Banner -->

    <!-- Start Login Area -->
    <section class="login-area ptb-50">
        <div class="container">
            <div class="login-form">
                <h2>ورود کاربران</h2>
                <form method="post">
                {% csrf_token %}
                    <div class="form-group">
                        {{ form.username }}
                        {% for err in form.username.errors %}
                            <p class="text-danger">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.password }}
                        {% for err in form.password.errors %}
                            <p class="text-danger">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 lost-your-password">
                            <a href="/" onclick="return false;" class="lost-your-password">فراموشی گذرواژه؟</a>
                        </div>
                    </div>

                    <button type="submit">ورود</button>
                </form>

                <!--<div class="important-text">
                <p>حساب کاربری ندارید؟ <a href="{% url 'account:register' %}">ثبت نام</a></p>
            </div>-->
            </div>
        </div>
    </section>
    <!-- End Login Area -->

{% endblock main %}

{% block other_script %}

{% endblock other_script %}
