{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست سخنرانی های ارسال شده در گروه</title>
    <link rel="stylesheet" href="{% static 'custom/css/bootstrap.min.css' %}">
    
</head>
<body>
    <div class="container">
        {% if not request.user.is_authenticated %}
            <div class="alert alert-warning text-center mt-5" role="alert">
                لطفاً ابتدا لاگین کنید.
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <a href="{% url 'account:login' %}" class="btn btn-primary btn-block mt-2">لاگین</a>
                </div>
            </div>
        {% elif request.user.is_superuser %}
        <h1 class="alert alert-info m-5 text-center">لیست سخنرانی های ارسال شده در گروه</h1>
        <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-success float-right mb-3 mr-1">پنل ادمین</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'account:logout' %}" target="_blank" class="btn btn-danger float-right mb-3 mr-1">خروج از پنل ادمین</a>
        {% endif %}
        <table dir="rtl" class="table table-active table-bordered table-dark table-striped text-center">
            <thead>
                <tr>
                    <th>شماره همراه</th>
                    <th>عنوان روز</th>
                    <th>تاریخ روضه</th>
                    <th>ساعت روضه</th>
                    <th>تعداد افراد</th>
                    <th>موضوع</th>
                    <th>سخنران</th>
                </tr>
            </thead>
            <tbody id="ordersTable">
                {% for object in object_list %}
                <tr>
                    <td>{{ object.order.phone }}</td>
                    <td>{{ object.order.daytitle }}</td>
                    <td>{{ object.order.jdate }}</td>
                    <td>{{ object.order.time }}</td>
                    <td>{{ object.order.num_attendees }}</td>
                    <td>{{ object.order.topic }}</td>
                    <td>{{ object.speaker.get_fullname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning text-center mt-5" role="alert">
            شما مجاز به دیدن این صفحه نیستید
        </div>
    {% endif %}
    </div>
</body>
</html>
