{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم ثبت اطلاعات جلسه روضه</title>
    <link rel="stylesheet" href="{% static 'custom/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/persian-datepicker.min.css' %}">
    <script src="{% static 'custom/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'custom/js/persian-date.min.js' %}"></script>
    <script src="{% static 'custom/js/persian-datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'custom/css/style.css' %}">
</head>
<body dir="rtl">
<div class="container">
    <h1>فرم ثبت اطلاعات جلسه روضه</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="phone">📞 شماره تماس:</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
            <label for="date">📅 تاریخ دقیق:</label>
            <input type="text" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="time">⏰ ساعت دقیق:</label>
            <input type="text" class="form-control" id="time" name="time" required>
        </div>
        <div class="form-group">
            <label for="num_attendees">👥 تعداد حاضرین:</label>
            <input type="number" class="form-control" id="num_attendees" name="num_attendees">
        </div>
        <div class="form-group">
            <label for="gender_attendees">👥 جنسیت حاضرین:</label>
            <select class="form-control" id="gender_attendees" name="gender_attendees">
                <option value="مرد">مرد</option>
                <option value="زن">زن</option>
                <option value="مرد و زن">مرد و زن</option>
                <option value="کودکان">کودکان</option>
                <option value="مختلط">مختلط</option>
            </select>
        </div>
        <div class="form-group">
            <label for="education_min_attendees">📚 حداقل تحصیلات حاضرین:</label>
            <select class="form-control" id="education_min_attendees" name="education_min_attendees">
                <option value="بی سواد">بی سواد</option>
                <option value="تحصیلات ابتدایی">تحصیلات ابتدایی</option>
                <option value="تحصیلات راهنمایی">تحصیلات راهنمایی</option>
                <option value="تحصیلات دیپلم">تحصیلات دیپلم</option>
                <option value="تحصیلات فوق دیپلم">تحصیلات فوق دیپلم</option>
                <option value="تحصیلات لیسانس">تحصیلات لیسانس</option>
                <option value="تحصیلات فوق لیسانس">تحصیلات فوق لیسانس</option>
                <option value="تحصیلات دکترا">تحصیلات دکترا</option>
                <option value="تحصیلات پسا دکترا">تحصیلات پسا دکترا</option>
            </select>
        </div>
        <div class="form-group">
            <label for="education_max_attendees">📚 حداکثر تحصیلات حاضرین:</label>
            <select class="form-control" id="education_max_attendees" name="education_max_attendees">
                <option value="بی سواد">بی سواد</option>
                <option value="تحصیلات ابتدایی">تحصیلات ابتدایی</option>
                <option value="تحصیلات راهنمایی">تحصیلات راهنمایی</option>
                <option value="تحصیلات دیپلم">تحصیلات دیپلم</option>
                <option value="تحصیلات فوق دیپلم">تحصیلات فوق دیپلم</option>
                <option value="تحصیلات لیسانس">تحصیلات لیسانس</option>
                <option value="تحصیلات فوق لیسانس">تحصیلات فوق لیسانس</option>
                <option value="تحصیلات دکترا">تحصیلات دکترا</option>
                <option value="تحصیلات پسا دکترا">تحصیلات پسا دکترا</option>
            </select>
        </div>
        <div class="form-group">
            <label for="city">🏙️ نام شهر:</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <div class="form-group">
            <label for="topic">📜 موضوع روضه پیشنهادی شما:</label>
            <textarea class="form-control" id="topic" name="topic" rows="4" required></textarea>
        </div>
        <p>🎙️ در صورت امکان، اگر جلسه را ضبط کنید و برای ما ارسال کنید بسیار سپاسگزار می‌شویم.</p>
        <button type="submit" class="btn btn-success btn-block">ثبت اطلاعات</button>
    </form>

    <iframe src="https://mandegarst.ir/" title="W3Schools Free Online Web Tutorials"></iframe>


</div>

<script>
    $(document).ready(function () {
        $('#date').pDatepicker({
            format: 'L',
            maxDate: new persianDate().add('month', 3).valueOf(),
            minDate: new persianDate(),
            onSelect: function(unix){
                console.log('datepicker select : ' + unix);
            },
        });
        $('#time').pDatepicker({
            format: 'HH:mm',
            timePicker:{
                enabled:true,
                second:{
                    enabled:false,
                }
            },
            onlyTimePicker: true,
        });
    });
</script>
</body>
</html>
