<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سخنرانی‌های اختصاص داده شده</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        {% if not request.user.is_authenticated %}
            <div class="alert alert-warning text-center" role="alert">
                لطفاً ابتدا لاگین کنید.
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <a href="{% url 'account:login' %}" class="btn btn-primary btn-block mt-2">لاگین</a>
                </div>
            </div>
        {% elif not request.user.is_superuser %}
        <h1 class="alert alert-info text-center">سخنرانی‌های اختصاص داده شده به {{ speaker.get_fullname }}</h1>
        
        <table dir="rtl" class="table table-active table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>شماره تماس</th>
                    <th>تاریخ</th>
                    <th>زمان</th>
                    <th>تعداد حاضرین</th>
                    <th>موضوع</th>
                    <th>وضعیت</th>
                    <th>تغییر وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for order in assigned_orders %}
                <tr class="{% if order.order.status == 'c' %}table-success{% else %}table-danger{% endif %}">
                    <td>{{ order.order.phone }}</td>
                    <td>{{ order.order.jdate }}</td>
                    <td>{{ order.order.time }}</td>
                    <td>{{ order.order.num_attendees }}</td>
                    <td>{{ order.order.topic }}</td>
                    <td>{% if order.order.status == 'c' %}انجام شده{% else %}انجام نشده{% endif %}</td>
                    <td>
                        <a href="{% url 'application:change_status' speaker.id order.order.id %}" class="btn {% if order.order.status == "c" %}btn-warning{% else %}btn-success{% endif %}">
                            {% if order.order.status == "c" %}
                            تغییر به انجام نشده
                            {% else %}
                            تغییر به انجام شده
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
