{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سفارش با موفقیت ذخیره شد</title>
    <link rel="stylesheet" href="{% static 'custom/css/bootstrap.min.css' %}">
</head>
<body dir="rtl">
    <div class="d-flex" style="height: 30rem;">
        <h3 class="alert alert-success d-block ml-auto mr-auto mt-auto p-5 text-center" style="min-width: 100%;">سفارش با موفقیت ذخیره شد</h3>
    </div>
</body>
</html>
